.title{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

.container{
    display: flex;
    border: 1px solid black;
    width: 500px;
    height: 500px;
    margin: auto;
}